<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="serviciosSoap" />
                <binding name="serviciosSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="serviciosSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="serviciosSoap121">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://william214570-001-site1.dtempurl.com/servicios.asmx"
                binding="basicHttpBinding" bindingConfiguration="serviciosSoap1"
                contract="ServiceReference2.serviciosSoap" name="serviciosSoap" />
            
        </client>
    </system.serviceModel>
</configuration>